<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Slide__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{367,345}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1,1},{367,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{365,345}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1,348},{365,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{363,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{368,348},{363,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{361,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1102,1},{361,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{359,349}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{733,350},{359,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{357,349}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1465,1},{357,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{359,349}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1094,350},{359,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{361,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{1455,352},{361,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{363,347}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{737,1},{363,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slide__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{365,345}</string>
                <key>spriteSourceSize</key>
                <string>{373,351}</string>
                <key>textureRect</key>
                <string>{{370,1},{365,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>runnerDuck.png</string>
            <key>size</key>
            <string>{1823,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d34b410e333d6bf92c2d43bcdfc4a9fc:22d1c927bdcf7b5771c91d15142c8a0a:3b8095d802fe91c8d1b5950f054cfa1e$</string>
            <key>textureFileName</key>
            <string>runnerDuck.png</string>
        </dict>
    </dict>
</plist>
