<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-8}</string>
                <key>spriteSize</key>
                <string>{284,439}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{271,1},{284,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{268,463}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{256,435}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{557,1},{256,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{256,435}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{815,1},{256,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{256,435}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{815,1},{256,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,7}</string>
                <key>spriteSize</key>
                <string>{256,435}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{815,1},{256,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{276,427}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1073,1},{276,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,15}</string>
                <key>spriteSize</key>
                <string>{304,423}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1351,1},{304,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{332,415}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1657,1},{332,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,19}</string>
                <key>spriteSize</key>
                <string>{332,415}</string>
                <key>spriteSourceSize</key>
                <string>{362,483}</string>
                <key>textureRect</key>
                <string>{{1657,1},{332,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>runnerJump.png</string>
            <key>size</key>
            <string>{1990,465}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e99595ecdc45da0c9f33a63a17ab338:b72456dc6f4bca7a5d5941a477909c56:f2d9e1779969bf8bc9505a98d4f05024$</string>
            <key>textureFileName</key>
            <string>runnerJump.png</string>
        </dict>
    </dict>
</plist>
