<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Run__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{329,434}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1,974},{329,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-4}</string>
                <key>spriteSize</key>
                <string>{323,450}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1,1},{323,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{321,446}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1,651},{321,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{353,422}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1,1305},{353,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{355,428}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{453,1},{355,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,2}</string>
                <key>spriteSize</key>
                <string>{329,428}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{451,358},{329,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{323,448}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{1,326},{323,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,10}</string>
                <key>spriteSize</key>
                <string>{317,432}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{449,689},{317,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,21}</string>
                <key>spriteSize</key>
                <string>{319,406}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{425,1339},{319,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,4}</string>
                <key>spriteSize</key>
                <string>{329,422}</string>
                <key>spriteSourceSize</key>
                <string>{363,458}</string>
                <key>textureRect</key>
                <string>{{437,1008},{329,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>runner.png</string>
            <key>size</key>
            <string>{882,1659}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c424c7659a48873146ae7eddc7e0cfa:3d30a9a95481df2106ad1f66cca0535a:40baca46467203badeafdde32c8bb385$</string>
            <key>textureFileName</key>
            <string>runner.png</string>
        </dict>
    </dict>
</plist>
