<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-105,7}</string>
                <key>spriteSize</key>
                <string>{234,452}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{263,1565},{234,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-10}</string>
                <key>spriteSize</key>
                <string>{266,436}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1,1297},{266,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-33}</string>
                <key>spriteSize</key>
                <string>{336,432}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-56}</string>
                <key>spriteSize</key>
                <string>{380,370}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1,339},{380,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-80}</string>
                <key>spriteSize</key>
                <string>{420,300}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1,711},{420,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-93}</string>
                <key>spriteSize</key>
                <string>{436,282}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1,1013},{436,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dead__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{442,260}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1,1565},{442,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{442,260}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1,1565},{442,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{442,260}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1,1565},{442,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dead__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-102}</string>
                <key>spriteSize</key>
                <string>{442,260}</string>
                <key>spriteSourceSize</key>
                <string>{482,498}</string>
                <key>textureRect</key>
                <string>{{1,1565},{442,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>runnerDead.png</string>
            <key>size</key>
            <string>{498,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2414fd18e564fe7523ec23942f63509:113cbb7f3a5475f7bf12df10d3d00608:562babe3bc31745f7eca7a9679477680$</string>
            <key>textureFileName</key>
            <string>runnerDead.png</string>
        </dict>
    </dict>
</plist>
